body{
    font-family: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

span {
    font-size: 2rem;
    margin: 20px;
}

img {
    align-items: center;
    vertical-align: text-bottom;
    border: 1px solid;
    box-shadow: 3px 3px;
}

nav {
    overflow: hidden;
    background-color: rgb(20, 20, 146);
    padding: 8px 15px;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: white;
    color:black;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

main { 
    @media only screen and (min-width: 640px) {
        nav ul {
            display: flex;
            justify-content: space-around;
        }

        nav ul li {
            flex: 1 1 auto;
        }

        
    }
}


footer {
    background-color: darkblue;
    text-align: center;
    padding: 10px;
    color: white;
}